{% extends 'SkeletonView.twig' %}

{% block content %}
    <h1>Créer une nouvelle catégorie</h1>
    <form action="{{ url_for('categories.create') }}" method="post">
        <label for="libelle">Libellé</label>
        <input type="text" name="libelle" id="libelle">
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <button type="submit">Créer</button>
    </form>
{% endblock %}