<header>
    <h1>Gift Appli</h1>
    <nav>
        <ul>
            <li><a href={{ url_for('home') }}>Accueil</a></li>
            <li><a href={{ url_for('categories') }}>Catégories</a></li>
            <li><a href={{ url_for('prestations') }}>Prestations</a></li>
            <li><a href={{ url_for('box.create') }}>Créer Box</a></li>
        </ul>
    </nav>
</header>